.TvRoute {
	width: 90%;
    min-height: 80%;
    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
}


.TvRouteAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .TvRouteAll input[type=text] {
    /* width: 100%; */
    border: 2px solid var(--color8);
    background-color: var(--color2);
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    margin: 10px 0px 10px 0px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
  }
  
  .TvRouteAll input[type=text]::placeholder{
    text-align: center;
    color: var(--color7);
  }

  .TvRouteInputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color2);
    z-index: 3;
    position: sticky;
    top: 0;
  }

.displayTvShowsBy{
    padding-left: 10px;
    margin: auto;
    min-height: 90%;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    flex-wrap: wrap;
    padding-bottom: 50px;

    /* overflow-y: scroll; */
}
