.TvRoute {
	width: 80%;
    min-height: 80%;
    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    padding-top: 60px;
}

.TvShowsByGenre{
    padding-left: 10px;
    gap: 30px;
    display: flex;
    /* align-items: center; */
    /* overflow: hidden; */
    flex-wrap: wrap;
    /* overflow-y: scroll; */
}
