.FavoriteSingle {
    border-bottom: 2px solid cadetblue;
    padding: 10px;
	width: 280px;
    /* margin: 0 auto; */
    /* background-color: var(--color5); */
}

.FavoriteSingleOverview{
    text-align: center;
}

.FavoriteSingleContainer{
    text-align: center;
    /* height: 200px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}

.FavoriteSingle img{
    width: 100px;
}

.FavoriteSingleImg{
    /* width: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.FavoriteSingleTitle{
    width: 100%;
}
