.MoviesContent {
    min-height: 800px;
    padding-top: 20px;
    /* background-color: var(--color1); */
    width: 100%;
    /* min-height: 100%; */
    /* background-color: aquamarine; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px; */
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.MoviesContentDiv {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-items: center;
    overflow-x: scroll;
    gap: 50px;
    /* background-color: var(--color1); */
    padding-bottom: 20px;
}

.MoviesContentTrendingDiv {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-items: center;
    overflow-x: scroll;
    gap: 50px;
    padding-bottom: 20px;
}

.MovieContentWhatsPopular {
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* background-color:var(--color5) ; */
}

.MovieContentWhatsPopularBtns {
    padding-left: 10px;
}

.MovieContentWhatsPopularBtns button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.MovieContentWhatsPopularBtns button:hover {
    background-color: var(--color8);
    border-radius: 10px;
    color: var(--color1);
}

.MoviesContentTrending {
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* background-color:var(--color5) ; */
}

.MovieContentTrendingBtns {
    padding-left: 10px;
}

.MovieContentTrendingBtns button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.MovieContentTrendingBtns button:hover {
    background-color: var(--color8);
    border-radius: 10px;
    color: var(--color1);
}


.MoviesContentDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.MoviesContentDiv::-webkit-scrollbar {
    width: 12px;
    height: 13px;
    background-color: #F5F5F5;
}

.MoviesContentDiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--color2);
}

.MoviesContentTrendingDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.MoviesContentTrendingDiv::-webkit-scrollbar {
    width: 12px;
    height: 13px;

    background-color: #F5F5F5;
}

.MoviesContentTrendingDiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--color2);
}