.cast {
    
}

.cast img{
    width: 150px;
    height: 200px;
    border-radius: 50%;
}

.noImagePlaceholderCast{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    height: 200px;
    width: 150px;
    border-radius: 50%;
}
