.MoviePage {
    width: 80%;
    /* padding-top: 100px; */
    /* background-color: var(--color8); */
    border-radius: 10px;
    min-height: 600px;
    /* margin-top: 50px; */
    margin: 0 auto;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
    padding: 30px;
    gap: 50px;
}

.MoviePageSecondaryDiv {
    width: 40%;
    /* background-color: var(--color8); */
    border-left: 2px solid var(--color8);
    padding-left: 30px;
    /* color: var(--color5); */
    color: var(--color7);

}

.castDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--color1);
}

.castDiv::-webkit-scrollbar {
    width: 12px;
    height: 13px;
    background-color: var(--color1);
}

.castDiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--color2);
}

.MoviePageMainDiv {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: spa; */
    /* align-items: center; */
    gap: 20px;
    color: var(--color7);

}

.MoviePageMainDiv img {
    width: 200px;
}

.castDiv {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
}

/* .MoviePageReviews{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow-x: scroll;
} */

.MoviePageRateDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.similarMoviesDiv {
    height: 300px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    overflow-y: hidden;
    gap: 30px;
}

.MoviePageRateDiv{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.reviewsDiv{
    height: 300px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    overflow-y: hidden;
    gap: 30px;
}

.reviewsDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--color1);
}

.reviewsDiv::-webkit-scrollbar {
    width: 12px;
    height: 13px;
    background-color: var(--color1);
}

.reviewsDiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--color2);
}


.similarMoviesDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--color1);
}

.similarMoviesDiv::-webkit-scrollbar {
    width: 12px;
    height: 13px;
    background-color: var(--color1);
}

.similarMoviesDiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--color2);
}

.TrailerDiv {
    /* background-color: var(--color5); */
    height: 400px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 50px;
}

.TrailerDiv iframe {
    border-radius: 10px;
    max-width: 800px;
    max-height: 500px;
}

@media screen and (max-width: 1270px) {
    .MoviePage{
        display: flex;
        flex-direction: column;
    }
    .MoviePageMainDiv{
        width: 100%;
    }
    .MoviePageSecondaryDiv{
        width: 100%;
        padding: 10px;
    }
    .TrailerDiv iframe {
        max-width: 500px;
        max-height: 300px;
    }
}

@media screen and (max-width: 990px) {
    .TrailerDiv iframe {
        max-width: 300px;
        max-height: 300px;
    }
}
@media screen and (max-width: 550px) {
    .TrailerDiv iframe {
        max-width: 320px;
        max-height: 300px;
    }
}
@media screen and (max-width: 600px) {
    .MoviePageRateDiv{
        flex-direction: column;
    }
}