.TvPage{
    width: 80%;
    /* padding-top: 100px; */
    /* background-color: var(--color8); */
    border-radius: 10px;
    min-height: 600px ;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
    padding: 30px;
    gap: 50px;
}

.TvPageSecondaryDiv{
    width: 40%;
    /* background-color: var(--color8); */
    border-left: 2px solid var(--color8);
    padding-left: 30px;
    color: var(--color7);
}

.tvPageMainDiv{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: spa; */
    /* align-items: center; */
    gap: 20px;
    color: var(--color7);

}

.tvPageMainDiv img{
    width: 200px;
}

.TvPage >*{
    /* color: white; */
}

.TvPageRateDiv{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 30px;
}

.similarTvDiv{
    height: 300px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: scroll;
    overflow-y:hidden ;
    gap: 30px
}


.similarTvDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--color1);
}

.similarTvDiv::-webkit-scrollbar {
    width: 12px;
    height: 13px;
    background-color: var(--color1);
}

.similarTvDiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--color2);
}




