.Header {
	width: 100%;
    height: 10%;
    background-color: var(--color5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 60px; */
    position: sticky;
    top: 0;
    z-index: 10;
}

.Header .Header_NavBar{
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.Header .Header_Log{
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.Header .Header_Headings h1{
    margin: 0;
    color: var(--color8);
    /* padding-left: 20px; */
}

.Header a{
    text-decoration: none;
    color: var(--color8);
    padding: 10px;
}
.Header_NavBar a:hover{
    text-decoration: none;
    color: var(--color5);
    background-color: var(--color8);
    /* padding: 10px; */
    border-radius: 10px;
}
