.Header {
    width: 100%;
    height: 8%;
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.Header .Header_NavBar {
    width: 100px;
    width: 350px;
    display: flex;
    justify-content: space-around;
}

.Header .Header_Log {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.Header .Header_Headings h1 {
    margin: 0;
    color: var(--color8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Header a {
    text-decoration: none;
    color: var(--color2);
    padding: 10px;
}

.Header a.active{
    color: var(--color8);
}

.Header_NavBar a:hover {
    text-decoration: none;
    color: var(--color1);
    background-color: var(--color8);
    border-radius: 10px;
}

.Header_NavBar_div a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AvatarLogo:hover{
    cursor: pointer;
}