.TrendingTv {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 140px;
    min-height: 250px;
    /* background-color: var(--color8); */
    border-radius: 10px;
    text-align: center;
}

.TrendingTv img {
    width: 140px;
    height: 200px;
    /* border-top-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.TrendingTv:hover {
    background-color: var(--color2);
}


.TrendingTv h6 {
    margin: 0;
}

.TrendingTv p {
    margin: 0;
    font-size: 13px;
}

.TrendingTv input{
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 3;
}
