.AllMovies {
	width: 80%;
    margin: 0 auto;
    min-height: 900px;
     /* display: flex;
    justify-content: space-around;
    align-items: center; */
    /* background-color: var(--color2); */
}

